<article>
    <span class="titles">Title: <span id="title">{{this.Title}}</span> </span> 
    <span class="titles">Year: <span id="year">{{this.Year}}</span> </span> 
    <img src="{{this.Cover}}"> 
</article>