<article>
    <span class="titles">Title: <span id="title">{{this.title}}</span> </span> 
    <span class="titles">Year: <span id="year">{{this.year}}</span> </span> 
    <img src="{{this.cover}}"> 
</article>