<h1>About Dan</h1>

<img src="images/danAbnett.jpg"/>
 <p> Abnett (born 12 October 1965) is an English comic book writer and novelist. 
    He has been a frequent collaborator with fellow writer Andy Lanning, and is known 
    for his work on books for both Marvel Comics, and their UK imprint,
    Marvel UK, since the 1990s, and also 2000 AD. He has also contributed to DC Comics titles, 
    and his Warhammer Fantasy and Warhammer 40,000 novels and graphic novels for Games Workshop's 
    Black Library now run to several dozen titles and have sold over two million copies.
    In 2009 he released his first original fiction novels through Angry Robot books</p>

<h2>Biography</h2>

<p>
As one of the more prolific 2000AD writers, Abnett was responsible for the creation of one of the comic's better 
known, and longest-running, strips of the last decade, Sinister Dexter. Other original stories include Black Light, 
Badlands, Avatar, Downlode Tales, Sancho Panzer, Roadkill and Wardog, based on the game of the same name. 
Abnett has also contributed to some of the comic's major ongoing series, including Judge Dredd, 
Durham Red and Rogue Trooper.His work for Marvel includes runs on Death's Head 2, Battletide, Knights of Pendragon 
(all of which he co-created), The Punisher, War Machine, Annihilation: Nova and various X-Men titles. 
At DC he is probably best-known for his 2000 relaunch of Legion of Super-Heroes. His work for DC is usually co-written
 with Andy Lanning and they are often referred to as DnA. For Dark Horse Comics he co-wrote Planet of the Apes: 
 Blood Lines with Ian Edginton, as well as penning Lords of Misrule and HyperSonic.
He has written novels set in the Warhammer 40,000 universe. They include the Gaunt's Ghosts series, 
the Eisenhorn trilogy and Ravenor spin-off and more recently, the first book of the Horus Heresy series, 
the SF bestseller Horus Rising. He has also written three Warhammer Fantasy novels. 
He also wrote a novel for the Doctor Who spin-off Torchwood called Border Princes in 2007.
In 1994, he wrote a promotional comic to promote the opening of the Nemesis roller coaster at Alton Towers.
More recently he has finished the final book of The V.C.s and started Black Atlantic in the Judge Dredd Megazine, 
which was be drawn by Steve Roberts (seen working on Bec and Kawl) in black and white.
Most recently it has been announced that he will be writing The Authority with co-author Andy Lanning, as part of the 
World's End relaunch of the core Wildstorm titles.[2]
In addition DnA have done a lot of work on Marvel's "cosmic" characters. They expanded on their work in Annihilation: 
Nova and Nova,[4] [5] and piloted the next big event Annihilation: Conquest. They said "we were approached by Andy Schmidt, who edited the first 'Annihilation' event, and asked to pilot the next event, which Bill Rosemann is editing." They ended up writing the Prologue, the Nova series crossover and the main Annihilation: Conquest limited series.[6] The characters then became the core of a new Guardians of the Galaxy.[7]
It was announced at Wizard World Chicago in June 2008, that Abnett and Lanning had signed an exclusive deal with Marvel, which they hope will give them time to work on the "cosmic" characters they have been dealing with, as well as more earth-based ones. The contract allows them to finish existing commitments, so they will be able to finish their fifteen issue run on The Authority.[8] In addition Marvel has allowed the contract to include "a couple of exceptions that are not direct competition, for example, Dan's 2000AD work in the UK and his GamesWorkshop novels."[9] The first major work to emerge after this deal will be War of Kings, a crossover storyline, emerging from Secret Invasion, that will pitch Black Bolt (and the Inhumans) against Gabriel Summers (and the Shi'aar Empire) but will also draw in other teams and characters, including Nova, the Guardians of the Galaxy and the Starjammers.[10]


</p>